/CorePlug/.vs
/CorePlug/bin/Debug
/CorePlug/obj
/Plugin/bin
/Plugin/obj
/Testplugin/bin
/Testplugin/obj
/Utils/bin
/Utils/obj
/.vs/CorePlug/CopilotIndices
/.vs/CorePlug/FileContentIndex
/.vs/CorePlug/v17
/Metrics/bin
/Metrics/obj
